

.nav_menu{
    position: fixed;
    width: 200px;
    height: 200px;
    z-index: 1;
    margin-top: 100px;
}
a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 5px;
  }

  .social {
    position: fixed;
    top: 20px;
  }
  .social ul {
    padding: 0px;
    transform: translate(-270px, 0);
  }
  .social ul li {
    display: block;
    margin: 10px 0px 0px -20px;
    background: rgba(230, 227, 227, 0.808);
    width: 300px;

    text-align: right;
    padding: 30px;
    border-radius: 0 30px 30px 0;
    transition: all 1s;
  }






  .social ul li:hover {
    transform: translate(110px, 0);
    background: rgba(255, 255, 255, 0.4);
    
  }
  .social ul li:hover a {
    color: #000;
  }
  .social ul li:hover .nav_menu_img{
    color: #ffffff;
    background: transparent;
    transform: rotate(360deg);
    transition: all 1s;
  }
  .social ul li i .nav_menu_img{
    margin-left: 10px;
    color: #000;
    background: #ce0909;
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background: #ffffff;
    transform: rotate(0deg);
  }


  .nav_menu_img{
    width: 30px;
    height: 30px;
    position: relative;
    margin: 5px -5px 5px 5px;
    background:transparent;
    color: yellowgreen;
    
}
.nav_menu_p{
    margin-right: 10px;
    font-size: 24px;
    color: #ffffff;
}